<section id="cadastro">
  <form action="">
    <h3>Área de Conhecimento</h3>
      <section class="dados-pesquisador cadastro">
          <section class="dados conhecimento">

            <label for="areaConhecimento" class="obrigatorio lbn-cmtg">Área Principal</label>
            <label for="subArea1C" class="obrigatorio lbn-cmtg">Sub Área 1</label>
            <label for="subArea2C" class="obrigatorio lbn-cmtg">Sub Área 2</label>
            <label for="subArea3C" class="obrigatorio lbn-cmtg">Sub Área 3</label>

              <label for="areaConhecimento" class="obrigatorio lbn-cmt">Área Principal</label>
              <select id="areaConhecimento0" name="areaConhecimento0" class="obrigatorio" required>
                  <option value="">Escolher</option>
                  <option value="exatas">Ciências Exatas</option>
                  <option value="humanas">Ciências Humanas</option>
              </select>

              <label for="subArea1C" class="obrigatorio lbn-cmt">Sub Área 1</label>
              <select id="subArea1C0" name="subArea1C0" class="obrigatorio" required>
                  <option value="1">Escolher</option>
              </select>


              <label for="subArea2C" class="obrigatorio lbn-cmt">Sub Área 2</label>
              <select id="subArea2C0" name="subArea2C0" class="obrigatorio" required>
                  <option value="1">Escolher</option>
              </select>

              <label for="subArea3C" class="obrigatorio lbn-cmt">Sub Área 3</label>
              <select id="subArea3C0" name="subArea3C0" class="obrigatorio" required>
                  <option value="1">Escolher</option>
              </select>

          </section>
          <div class="conteiner-centro">
            <button id="addEspecialidadeBtn" type="button"><i class="fa-solid fa-plus"></i></button>
          </div>
      </section>
  </form>

  <div class="bot">
    <a href="../HTML/index.html" class="cancelar">Cancelar</a>
    <a href="../HTML/cadastro-enderecos.html" class="enviar">Proximo</a>
  </div>
</section>

