:root {
    --verde1: #038E42;
    --verde2: #2ecc71;
    --branco: #ffffff;
    --preto: #000000;
    --background-color: #41414115;
    --text-color: #333;
  }
  
  /* Estilo geral do formulário */
  form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--branco);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 1em; /* Ajuste da fonte */
    color: var(--text-color); /* Cor do texto */
  }
  
  /* Estilo dos grupos de formulário */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Estilo dos rótulos */
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Estilo dos campos de entrada */
  input[type="text"],
  input[type="number"],
  input[type="checkbox"],
  select {
    width: 100%;
    padding: 0.4em;
    border: 1px solid var(--preto);
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 0.9em;
  }
  
  /* Estilo dos selects */
  select {
    background-color: var(--branco);
    appearance: none;
  }
  
  /* Estilo ao focar no campo de entrada */
  input:focus, select:focus {
    border-color: var(--verde1);
    outline: none;
  }
  
  /* Estilo das mensagens de erro */
  .text-danger {
    color: #dc3545;
    font-size: 0.875em;
  }
  
  /* Estilo do checkbox */
  .form-check {
    display: flex;
    align-items: center;
  }
  
  .form-check input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }
  
  /* Estilo dos botões */
  .bot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.64em;
    margin-top: 20px;
  }
  
  input[type="button"],
  input[type="submit"] {
    padding: 0.4em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
  }
  
  /* Estilo do botão de salvar */
  input[type="submit"] {
    background-color: var(--verde1);
    color: var(--branco);
  }
  
  input[type="submit"]:hover {
    background-color: var(--verde2);
    color: var(--preto);
  }
  
  /* Estilo do botão de cancelar */
  input[type="button"] {
    background-color: #ac0000;
    color: var(--branco);
  }
  
  input[type="button"]:hover {
    background-color: #5a0000;
    color: var(--branco);
  }
  
  /* Estilo específico para o checkbox */
  .form-group.checkbox-group {
    display: flex;
    align-items: center;
  }
  
  .checkbox-group label {
    margin-right: 10px;
    margin-bottom: 0;
  }
  
  .checkbox-group input[type="checkbox"] {
    width: auto;
    margin-left: 5px;
  }
  
  /* Obrigatorios */
  
  .vermelho {
    color: red;
  }
  
  .obrigatorio::after {
    content: "*";
    color: red;
  }
  
  /* Centralizar o título */
  .informacoes {
    text-align: center; /* Centraliza o conteúdo do texto */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
  }
  
  .informacoes h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px; /* Adiciona um espaçamento entre o título e o subtítulo */
  }
  
  .informacoes h3 {
    font-size: 1em;
    color: var(--text-color);
  }

  /* Foco */
input:focus,
select:focus,
textarea:focus {
    border-color: var(--verde1);
    outline: none;
}

/* Textarea */
textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
    min-height: 100px; /* Define uma altura mínima */
}
  
  /* Responsividade */
  @media (max-width: 600px) {
    form {
        padding: 15px;
    }
  }
  