:root {
    --verde1: #038E42;
    --secondary-color: #2ecc71;
    --background-color: #f4f4f4;
    --text-color: #333;
}

/******* Configurações do fomrulario *******/
form {
    border: none;
    width: 100%;
}

.vermelho {
    color: red;
}

#cadastro {
    width: 800px; /* 80% de 1000px */
    margin: auto;
}

.cadastro {
    width: 100%;
}

.dados-pesquisador {
    margin: 10px 0px 70px; /* 80% de 10px 0px 70px */
    display: inline-flex;
    border: 1.6px solid black; /* 80% de 2px */
}

.dados {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Proporcional a 1fr 2fr */
    gap: 0.8em; /* 80% de 0.8em */
    padding: 12px; /* 80% de 15px */
    font-size: 1em; /* 80% de 1.2em */
}

.conhecimento {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Removi a 4ª coluna para manter proporcionalidade */
    width: calc(100% - 60px);
}

.conteiner-centro {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addEspecialidadeBtn {
    font-size: 2.4em; /* 80% de 3em */
    border: solid black 1.6px; /* 80% de 2px */
    height: 48px; /* 80% de 60px */
    width: 48px; /* 80% de 60px */
    border-radius: 50%; /* Proporcional a 50% */
}

.correspondencia {
    grid-template-columns: 1fr;
}

.obrigatorio::after {
    content: "*";
    color: red;
}

/******* Configurações da foto do fomrulario *******/
#preview {
    width: 120px; /* 80% de 150px */
    height: 160px; /* 80% de 200px */
    border: 1.6px solid #000000; /* 80% de 2px */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px; /* 80% de 10px */
    background-color: #0000001c;
}

#foto, #foto input {
    align-content: center;
    border: none;
}

#foto > * {
    margin: auto;
}

#preview img {
    max-width: 100%;
    max-height: 100%;
}

/******* Configurações dos botões do fomrulario *******/

.desativar {
    display: none;
}

.cancelar {
    background-color: #ac0000;
}

.cancelar:hover {
    background-color: #5a0000;
    color: white;
}

/******* Configurações de responsividade do fomrulario *******/
@media screen and (max-width: 1050px) {

    .informacoes {
        padding: 25px; /* 80% de 25px */
    }

    form {
        width: calc(100% - 50px); /* 80% de 50px */
    }

    .dados-pesquisador {
        padding: 20px; /* 80% de 25px */
    }
}

@media screen and (max-width: 650px) {

    .dados {
        grid-template-columns: 1fr;
        gap: 0.4em; /* 80% de 0.4em */
    }

    .correspondecia {
        display: block;
    }

    .cadastro {
        width: calc(100% - 40px);
    }
}
